.container {
	background-color: grey;
	display: flex;
	justify-content: center;
	height: 700px;
	align-items: center;
}

.login-form {
	background-color: rgb(255, 255, 255, 0.7);
	padding: 10px;
	width: 400px;
}

.flex-input {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

input[type="text"], [type="password"], [type="email"] {
	padding: 10px;
	font-size: 18px;
}

label {
	flex-basis: 130px;
	margin-top:10px;
	font-size:20px;
}

button {
	width: 100%;
	font-size: 20px;
	padding: 10px;
	background-color: purple;
	color: white;
	border: none;
	margin: 20px 0;
}

button:hover {
	cursor: pointer;
	background-color: green;
}